/*========header==========*/
$color-light: #fff;
$color-dark: #000;
$color-dark-light: #010101;
$color-link-hover: #c0301d;
$color-danger: #f4411d;
$color-primary: #666;
$color-primary-light: #f9f9f9;
$color-date: #999;
$color-grey: #ccc;
$color-bg-footer: #290a04;
$bg-menu: #2C3342;

$size-xl: 72px;
$size-medium: 36px;
$size-lg: 20px;
$size-primary: 16px;
$size-md: 14px;
$size-sm: 13px;
$size-xs: 11px;