 /*================Basic setting*=========================*/
*{
	padding: 0;	
}

@font-face{
  font-family: EFNAbsolut;
  src: url(../files/EFNAbsolut.woff2) format("woff2"),
  url(../files/EFNAbsolut.woff) format("woff");
}

body{
  background-color: #ccc;
  font: 12px Arial, sans-serif;      
  min-width: 920px;
}

body, #footer-nav{
  margin: 0 auto;
}

body, .photo-gallery img{
  width: 100%;
}

a{
  text-decoration: none;	
}

li{
  list-style: none;
}

input{
  outline: none;
}

.clearfix{
  clear: both;
}

.fields{
  padding: 0 5%;
}

.darkred{
	color: #B13304;	
}

.darkred, .read_more a{
  font-weight: bold;
}

.darkgrey, .resources a{
  color: #464646;
}

h1, h2, h3{
  color: #7E9110;
}

h4{
  font-size: 200%;
}

h4{
  color: #f1d09c;
}

input[type="button"], input[type="submit"]{
  background-image: linear-gradient(to bottom, #fdfdfd, #ededed, #fdfdfd);
  background-image: -moz-linear-gradient(top, #fdfdfd, #ededed, #fdfdfd);
  border: 1px solid #ccc;	
  cursor: pointer;    	
  padding: 4px 11px;
}

input[type="button"], input[type="submit"], p.notedate{
  font-size: 75%;
}


/*===============Header==========================*/
header{	
  background:  url(../images/header_bottom.jpg) 0% 100% repeat-x,
  url(../images/header_bg.jpg) no-repeat;	           
  background-size: auto, cover;	
}

.logo h2{
  background: url(../images/logo_bg.png) no-repeat center;
  color: #ebcb90;
  font-size: 291%;
  padding-top: 40px;	
}

.logo h3{
  color: #cb9d40;
  font:  bold italic 180% EFNAbsolut;	   
  padding-top: 5px;              
}

.logo h2, .menu li, .footer-block, #footer-nav ul, #copyright-info, #copyright-info input, .logo h3{
  text-align: center;
}

.logo img{
	margin: 0 -11px -6px 0;
}

.menu{
  padding-top: 20px;
}

.menu ul{	
  background: url(../images/menu-bg.jpg);		
}

.menu li:last-child{
	margin-right: 0;
}

.menu li{
  background: linear-gradient(to bottom, #CEB35F, #BF9C40);
  background-image: -moz-linear-gradient(top, #CEB35F, #BF9C40);
  border-radius: 5px 5px 0  0;
  border: solid #c0943c 1px;	
  font-size: 108%;	
  margin-right: 1.2px;
  padding: 11px 0 7px 0;		
  width: 73px;	
}

.menu li, .col-1-4, .col-1-2, .news_data, .latest_text > img, .footer-block{
  float: left;
}

.menu a, .footer-block p{
  color: #fff;
}

#main{
  background-color: #F4ECBE;	
}

#main, #user_login, #footer-nav{
  position: relative;
}

.header_pic{    
  position: absolute;		
  top: -153px;
  width: 270px;   
}

.header_pic img{
   height: 281px;
}

#user_login{
  background-color: #EDE2A0;	
  border: 2px solid #E5D47D;  
  margin-top: 30px;
  padding: 12px 16px 13px 23px;  
  z-index: 1;
}

#user_login, .menu ul{
  float: right;
}

#user_login, input[type="button"], input[type="submit"]{
  border-radius: 4px;
}

#user_login h3{
  font-size: 166%;
  margin-bottom: 5px;
}

#user_login label{	
  color: #958A4F;
}

#user_login label, #user_login input[type="text"], #user_login input[type="password"], .news_updates_block a{
  font-size: 83%;
}

#user_login input[type="text"], #user_login input[type="password"]{	
  background: #E9DA8D;    	
  padding: 5px 14px;
  width: 160px;
}

#user_login input[type="text"], #user_login input[type="password"], .add_commend a:last-child{
  border: none;
}

#user_login input[type="text"]::-webkit-input-placeholder, #user_login input[type="text"], #user_login input[type="password"], 
#user_login input[type="password"]::-webkit-input-placeholder{
  color: #756D46;
}


#user_login_sbm{	
  border-radius: 0;	
}

#user_login_sbm, .news_data, p.text_update, .add_commend a, .read_more a, .our-main-item p, 
#footer-nav a, #copyright-info p, #copyright-info input{
  font-size: 91%;
}

#user_login p{
  color: #AA9550;	
}

#user_login p, p.text_update{
  margin-top: 10px;
}

.not_member{
  color: #b49859;
  margin-right: 10px;
}


.register{
  color:#a04a27;
}

/*============================Content=======================*/

.container{
  margin-top: 35px;	
}


.col-1-4{    
  width: 21%;	
}

.col-1-4, .our-main-item p:nth-child(2n+1){
  margin-right: 6%;
}

*, .container div:nth-child(3), .footer-wrapper div:nth-child(3){
  margin: 0;
}

.col-1-2{
  margin-right: 7%;	
  width: 45%;    	
}

.new_updates{
  font-size: 191%;
  margin-bottom: 18px;
}

.news_updates_block{
  padding-bottom: 31px;	
}

.new_updates_block h4{
  font-size: 100%
}

.news_updates_block a{
  color: #b13240;	
  margin-top: 6px;	
}

.news_data{
  background: url(../images/News_data.png) no-repeat;
  color: #EDEBA9;    
  margin: 1px 7px 0 0;
  padding: 8px 14px;
}

p.notedate{
  background-color: #f1e0ab;	
  margin-left: 46px;
}

.notedate img{
  margin-right: 4px;
}

p.text_update{
  color: #605e58;		
}

.resources ul{
  margin-top: 21px;
  padding-bottom: 34px;
}

.resources li{
  border-bottom: 1px dashed #b79c56;	
  padding: 4px 0;	
}

.resources li:last-child{
  border-bottom: none;
}

.resources li::before{
  content: "\21E2";
  padding-right: 8px;
  color: #0e0e0e;	
}

.resources a:hover{
  color: #b22d00;	
}

.samelines h1{
  font-size: 233%;	
}

.samelines h1, .footer-block p{
  margin-bottom: 20px;
}

.add_commend{
  background-color: #F1E6AC;
  border: 1px solid #d2c089;	
  padding: 6px 0 4px 7px;	
}

.add_commend, .greative-story-bl{
  margin-top: 18px;	
}	

.add_commend img{
	margin-right: 3px;
}

.add_commend a{
  border-right: 1px solid #D8B64D;
  color: #8A3103;	
  padding: 0 8px;
}

.latest_progects {
  margin-top: 40px;
}

.latest_progects span{
  color: #BF9C40;
  font-size: 48%;
  margin-left: 11px;
}

.latest_progects em{	
  font-size: 120%;
  font-style: normal;
}

.latest_text{
  background: url(../images/latestprojects-bg.png) no-repeat 100% 100%;
  background-color: #F0E6A9;
  border: 1px dashed #B6A358;
  margin-top: 11px;
  padding: 14px 14px 16px 14px;
}

.latest_text > img{	
  border: 3px solid #EADE95;	
  margin-right: 11px;
}

.read_more{
  padding-top: 3px;
}

#our-main{
  margin: 39px 0 26px 0;
}

#our-main h3{	
  margin-bottom: 15px;
}

.our-main-item{
  padding-top: 15px;
}

.our-main-item p{
  background-color: #F9F8D7;	
  color: #C07B11;	
  margin-bottom: 6px;	
  padding: 5px;
  width: 43%;	
}

.our-main-item p, #footer-nav li{
  display: inline-block;
}

.photo-gallery{
   margin-top: 16px;
}

.photo-gallery img{
  border: 3px solid #d3cfa3;
  max-height: 170px; 	  
  margin-bottom: 10px;	
}

.col-1-4 input{	
  margin: 4px 0 32px 0;	
}

.wrapper div:last-child{
  margin-bottom: 25px;	
}

/*===================Footer=============================*/

footer{
  background: url(../images/footer-bg.jpg) no-repeat;
  background-color: #8c2c00;	
  padding-top: 36px;	
}

.footer-wrapper{
  margin: 0 14% 2px 14%;
  width: 72%;    	
}

.footer-block{
  background: linear-gradient(to bottom, #ef7f20, #d4600d, #c34c00);
  background: -moz-linear-gradient(top, #ef7f20, #d4600d, #c34c00);	
  border: 1px solid #c34c00;
  border-radius: 7px;	
  height: 122px;
  margin-right: 4%;
  padding: 27px 14px 19px 14px;	
  width: 25%;
}

.footer-scale{
  background: linear-gradient(to top, #993704, #8c2c00);
  background: -moz-linear-gradient(top, #993704, #8c2c00);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 7px;    
  -moz-border-radius-topright: 7px;
  border: 1px solid #8c2c00;	
  height: 46px;
  padding: 0 14px;
  transform: scaley(-1);    	 
}

.footer-block h4{
  margin-bottom: 16px;    
}

#footer-nav{	
  top: -20px;	
  width: 38%;
}

#footer-nav li{	
  padding: 0 1px;
 }

#footer-nav li:not(:first-child):before{
  content: " | ";	
}

#footer-nav li:not(:first-child):before, #copyright-info span, #footer-nav a{
  color: #ee7e1f;
}

#copyright-info{
  margin-top: -11px;	
  padding-bottom: 30px;
}

#copyright-info p{
  color: #401701;	
  margin-bottom: 7px;	
}

#copyright-info input{
	border-radius: 6px;	
	width: 63px;	
}
