
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

body{
  min-width: 305px;
}

label{
  display: block;
}


@media(min-width: 230px) and (max-width: 620px){
     
     body{font-size: 8px;}

    .header {  
     padding: 15px 20px;  
     } 
     input[type="checkbox"]:checked + label::before{  
      border-width: 0 1px 1px 0;
      top: 10px;
      left: 25px;  
      height: 10px;
      width: 4px;
  }
}

@media(min-width: 621px){
      body{font-size: 20px;}


      .header {  
     padding: 30px 40px;  
     } 
     input[type="checkbox"]:checked + label::before{  
      border-width: 0 2px 2px 0;
      top: 15px;
      left: 17px;  
      height: 18px;
      width: 9px;   
    }
}


/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}


/* Style the list items */
ul li {
  
  list-style: none;
  position: relative; 
  padding: 12px 8px 12px 40px; 
  background: #eee;
  font-size: 150%;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul label, ul input, .del{
	cursor: pointer;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.del {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.del:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;  
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input[type="text"]{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 140%;
}

input[type="checkbox"]{
	display: none;
}


input[type="checkbox"]:checked + label::before{
  content: '';
  position: absolute;
  border-color: #62535D;
  border-style: solid; 
  transform: rotate(45deg);   
}


#addtask {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 140%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

#addtask:hover {
  background-color: #bbb;
}