
/*================Basic setting*=========================*/
body{ 
  color: #4F4F4F;
  font: 10px/1.5 sourceSans, sans-serif;  
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;   
}

.container{
  margin: 0 auto;  
  max-width: 1170px;
  padding: 0 10px;
}

@media(min-width: 768px){

  .container{ 
    padding: 0 70px;
  }
  body{
   font-size: 14px;
  }

}

@media(min-width: 1200px){
  
  .container{ 
    padding: 0;
  }
  body{
    font-size: 19px;
  }

}

.link{ 
  text-decoration: none;
}

.list{
  list-style: none;
  padding: 0; margin: 0;
}

.list_inline{
  display: inline-block;
}

.clearfix::after{
  display: block;
  clear: both;
  content: "";
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}


/* ===============TOP-HEADER*=============================*/

.header-top{  
  background-color: #292929;    
  padding: 6px 0 3px 0;
}

.social-icon__item{
   padding: 0 2px;
}

.social-icon__img{
  width: 18px;
}

.skype-email{ 
   padding-top: 4px;
}

.skype-email__link{
  color: #C6C6C6;   
  padding-right: 3px;    
  transition: color .4s;
  -moz-transition: color .4s; 
  -webkit-transition: color .4s;  
}

.skype-email__link-text{
    font-size: 10.5px;    
    vertical-align: 14%;
}

.skype-email__img{
  width: 14px;
  padding-right: 5px;
}

.skype-email__link:hover{
  color: #fff;
}

@media(min-width: 768px){
  
  .social-icon__img{
    width: 30px;
  }

  .skype-email__link{   
   padding-right: 8px;
  }

  .skype-email__link-text{
    font-size: 18px;
  }

  .skype-email__img{
    width: 20px;
    padding-right: 6px;
  }  
  
}

@media(min-width: 1200px){
 
 .skype-email__link-text{
    font-size: 19px;
  }
  
}

/* ===============MENU*=============================*/

.nav-container{
  padding: 20px 0;
  border-bottom: 4px solid #158DE2;
}

.logo{    
  padding-left: 10px;  
}

.logo__text{   
  font: 16px montserrat;
  margin: 0;
  padding: 0;
  color: #3648CB;
}

.logo__text_primary{
  color: #1781FD;
}

.nav{
  display: none; 
}

.nav__link{
   color: #3C3C3C;
}


.nav__icon{  
  background-color: #626262;
  display: block; 
  height: 2px;
  margin: 2px 0;  
  transition: .4s; 
  -moz-transition: .4s;
  -webkit-transition: .4s;
  width: 15px;
}

.nav-toggle{
  background: #000;
  display: block;
  float: none;
  height: 0;
  left: 0;
  margin-left: 20%;
  padding: 7px 0;
  position: absolute;
  opacity: 0.9;
  overflow: hidden;
  text-align: center;
  top: 30px;
  width: 60%; 
}

.nav-toggle_item{
   display: block;
   font-size: 16px;
}

.nav-toggle_link{
  display: inline-block;
  color: #fff;
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s;
}

.nav-toggle_link:hover{
  color: #0D98B4;
}

.change-nav-icon span:first-child{ 
 transform: rotate(45deg) translate(3px, 3px);
 -moz-transform: rotate(45deg) translate(3px, 3px);
 -webkit-transform: rotate(45deg) translate(3px, 3px);
}

.change-nav-icon span:nth-child(2){
  opacity: 0;
}

.change-nav-icon span:last-child{  
  transform: rotate(-45deg) translate(3px, -3px);
  -moz-transform: rotate(-45deg) translate(3px, -3px);
  -webkit-transform: rotate(-45deg) translate(3px, -3px);   
}


@media(min-width: 768px){
  
  .nav-container{
    padding: 40px 0;    
  }
  .nav{
    display: block;
  }

  .nav__icon{
    display: none;  
  }
  
  .nav__item{
    font-size: 18px;
    padding: 0 10px;
  }

}

@media(min-width: 1200px){
  
  .logo__text{ 
    font-size: 32px;  
  }
  
  .nav__item{
   font-size: 22px;
   padding: 0 17px;  
  }

}

/* ===============Feature-posts=============================*/

#feature-posts{
  background: url(../images/background-header.jpg) no-repeat;
  background-size: cover;  
}

.feature-inner{
  color: #fff;    
  padding: 30px 0;
  text-align: center;
}

.feature-inner__title{   
   font: 25px montserrat;
   margin: 0;   
}

.feature-inner__title-contact{
  padding-top: 15px; 
  margin: 0;  
}

.feature-inner__text{
   font-size: 12px;
   margin: 0;
   padding-top: 5px;
}

.feature-price{
  background: url(../images/price-bg.png) no-repeat;
  background-size: 135px;
  background-position: 50%;
  color: #F85035;
  font-size: 18px;
  font-weight: bold;     
  margin: 0 auto;  
  width: 140px;  
}

.contact-us{
  font-size: 12px;
  padding-top: 5px;
}

.contact-us__link{
  color: #fff;
}

.contact-us__img{
  width: 38px;
}

.contact__text{
   vertical-align: 112%;  
}



@media(min-width: 768px){
  
  .feature-inner{
    padding: 60px 0;
  }

  .feature-inner__title{   
   font-size: 45px;   
  }

  .feature-inner__title-contact{
    font-size: 28px;
    padding-top: 20px;    
  }

  .feature-inner__text{
   font-size: 28px;
   padding-top: 10px;
  }

  .feature-price{  
    background-position: 30%; 
    background-size: 210px;
    font-size: 32px;       
    width: 260px;  
  }  

  .contact-us{
    font-size: 20px;
    padding-top: 8px;
  }

  .contact-container{
    display: inline-block;
    width: 250px;
    margin: 0 auto;
  }

  .contact__text{
    vertical-align: 70%;  
  }

  .contact-us__img{
    width: 45px;
  }

}

@media(min-width: 1200px){
  
  .feature-inner{    
    padding: 100px 0;
  }

  .feature-inner__title{   
   font-size: 70px;   
  }

  .feature-inner__title-contact{
    font-size: 36px;
    padding-top: 58px;    
  }

  .feature-inner__text{
   padding-top: 20px;
   font-size: 38px;
  }

  .feature-price{  
    background-position: 40%; 
    background-size: 350px;
    font-size: 50px;          
    width: 430px;  
  }  

  .contact-us{
    font-size: 30px;
    padding-top: 15px;
  }

  .contact-us__img{
    width: 80px;
  }

  .contact-container{
    display: inline-block;
    width: 400px;
    margin: 0 auto;
  }

  .contact__text{
    vertical-align: 80%;  
  }  

}

/* ===============About us=============================*/

 .about-inner{
   padding: 25px 0;
 }

 .about-inner__title{
   font-size: 20px;
   margin: 0;
   text-align: center;   
 } 

 .about-picture__container{
  margin: 10px auto 15px auto;
  max-width: 557px;
  width: 90%;
 }

 .about-picture__img{
   width:100%;
 }

 .about-content__img{
   width: 38px;
 }

 .about-content__block-img, 
 .about-content__block-content{
   display: inline-block;
 }

 .about-content__block-img{
   text-align: right;
   width: 15%;
   vertical-align: top;
 }
  .about-content__block-content{
   width: 80%;
 }

 .about-inner__container-btn{
    text-align: center;
    padding: 20px 0 40px 0;
 }

 .about-inner__item-btn{
    background-color: #F85035;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0 5px 9px #ccc;
    color: #fff;
    font-size: 10px;    
    outline: none;
    transition: padding-top .4s;
    -moz-transition: padding-top .4s;
    -webkit-transition: padding-top .4s;
    padding: 5px 10px;
 }

 .about-inner__item-btn:hover{
   padding-top: 7px;
 }

 .about-inner__post-title{
   font-family: montserrat;
   font-size: 14px;
   padding-bottom: 15px;
   text-align: center;
 }

 .about-inner__post-title_text_red{
    color: #F85035;
 } 

 .post-inner__container{
   vertical-align: top;
   display: inline-block;
   text-align: center;   
   padding: 10px;
   width: 43%;
 }

 .post-inner__img{
    width: 40px;
 }

@media(min-width: 768px){

   .about-inner{
    padding: 70px 0;
  }

  .about-inner__title{
   font-size: 32px;   
  }

  .about-inner__container-btn{    
     padding: 30px 0 50px 0;
  }

  .about-inner__item-btn{    
    font-size: 14px;    
    padding: 8px 16px;
  }

  .about-inner__container-btn:hover{
      padding-top: 10px;
    }

  .about-inner__post-title{   
   font-size: 25px;
   padding-bottom: 20px;
  } 

  .about-picture__container{
   float: left;
   margin: 0;
   width: 40%;
  }

  .about-content__img{
   width: 56px;
  } 

  .about-content{
    float: right;
    width: 60%;
  }

  .about-content__block-img{   
    width: 15%;   
  }
   
   .about-content__block-content{
    width: 84%;
  }  

  .post-inner__container{   
   width: 21%;
  }

  .post-inner__img{
    width: 50px;
  }
  

}

@media(min-width: 1200px){

   .about-inner{
    padding: 110px 0;
  }

  .about-inner__title{
   font-size: 50px;   
  }

  .about-inner__post-title{   
   font-size: 50px;
   padding-bottom: 60px;
  }

  .about-inner__container-btn{    
     padding: 55px 0 95px 0;
  }

  .about-inner__item-btn{ 
    border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;   
    font-size: 19px;    
    padding: 20px 30px;
  }

  .about-inner__item-btn:hover{
      padding-top: 23px;
   } 

  .about-picture__container{
    width: 50%;
  }

  .about-content__img{
   width: 62px;
  } 

  .about-content{
    float: right;
    width: 50%;
  }

   .post-inner__container{   
     width: 23%;
     padding: 20px 10px; 
   }

  .post-inner__img{
    width: 120px;
  }

}

/* ===============Contact us=============================*/

#contact{
  background: url(../images/contact-bg.jpg) no-repeat;
  background-size: cover;
}

.contact-inner{
   color: #fff;
   padding: 20px 0;
}

.contact-inner__title{
   font: 20px montserrat;
   margin: 0;   
   padding-bottom: 15px;
   text-align: center;
}

.contact-inner__block-container{
  margin: 0 auto;
  max-width: 340px;
  width: 70%;
}

.contact-inner-img{      
   width: 60px;   
}

.contact-inner__img-wrapper{
  display: inline-block;
  vertical-align: middle;
  text-align: right;  
  width: 30%;
}

.contact-inner__text-wrapper{
  display: inline-block;
  vertical-align: middle;
  width: 68%; 
}

@media(min-width: 768px){
 
  .contact-inner{     
     padding: 40px 0;
  }

  .contact-inner__title{
     font: 35px montserrat;   
     padding-bottom: 25px;
  }

  .contact-inner__block-container{
     display: inline-block;
     max-width: none;
     width: 32%;             
  }

  .contact-inner-img{      
     width: 70px;   
  }

  .contact-inner__text-wrapper{
    font-size: 11px;     
  }


}

@media(min-width: 1200px){
 
  .contact-inner{     
     padding: 50px 0;
  }

  .contact-inner__title{
     font: 35px montserrat;      
     padding-bottom: 35px;     
  }

  .contact-inner__block-container{
     display: inline-block;
     max-width: none;
     width: 32%;             
  }

  .contact-inner-img{      
     width: 120px;   
  }
  
  .contact-inner__text-wrapper{
    font-size: 18px;     
  }


}

/* ===============FAQ=============================*/
.faq-inner{
   padding: 30px 15px;
}

.faq-inner__title{
   font-size: 20px; 
   margin: 0;  
   padding-bottom: 20px;
}

@media(min-width: 768px){

   .faq-inner{
     padding: 60px 25px;
   }

   .faq-inner__title{
     font-size: 35px;         
     padding-bottom: 30px;

   }

}

@media(min-width: 1200px){

   .faq-inner{
     padding: 100px 40px;
   }

   .faq-inner__title{
     font-size: 50px;     
     padding-bottom: 45px;
   }

}

/* ===============Arcadion styles=============================*/
.accordion {
    width: 100%;
    max-width: 600px;
    min-height: 0;
    display: block;
    position: relative;    
    background-color: #fff;
    overflow: hidden;
}

/*====accordion panel headings========*/

.accordion__title {
    border-bottom: 1px solid #D1D1D1;
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;    
    text-align: left;    
    padding: 15px 30px 15px 0;       
} 

.accordion__title_active{
  color: #120292!important;
  font-weight: 700!important;
}

/*=============blocks with content======== */
.accordion__msg-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  opacity: 1;
  transform: translate(0, 0);
}

.accordion__msg{
  color: rgba(48, 69, 92, .8);
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 0 20px;
}

.accordion__list{ 
  perspective: 900px;  
}

.accordion__item {
  position: relative;
  width: 100%; 
}

.accordion__item:last-of-type {
  padding-bottom: 0;
}
 
/*accordion status indicator */
.accordion__toggle {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
}
 
.accordion__toggle:before, 
.accordion__toggle:after{
  content: "";
  position: absolute;
  background-color: #414141;
  width: 3px;
  height: 9px;
}

.accordion__toggle:before{
  transform: translate(-2px, 0) rotate(45deg);
}

.accordion__toggle:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.accordion__checkbox{  
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;  
}

.accordion__checkbox:checked ~ .accordion__msg-wrapper {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

/*pointer points down */
.accordion__checkbox:checked ~ .accordion__toggle:before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion__checkbox:checked ~ .accordion__toggle:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/*transition effect between two pointer states*/
.accordion__msg-wrapper, 
.accordion__toggle:before, 
.accordion__toggle:after {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

@media(min-width: 768px){

  .accordion{
     max-width: none;
     width: 65%;
  }

  .accordion__title{
    font-size: 16px;
  }

  .accordion__msg{
    font-size: 15px;
  }

  .accordion__title{
    font-size: 18px;
  }
  
}

@media(min-width: 1200px){

  .accordion{     
     width: 60%;
  }

  .accordion__title{
    font-size: 24px;
  }

  .accordion__msg{
    font-size: 18px;
  }
  
}

/* ===============Footer=============================*/
  
  .footer-inner{
     background-color: #1b1b1b;     
     padding: 40px 0;
  }

  
  .footer-inner_relative{
     position: relative;
  }

  .footer-inner__list{
    align-items: flex-start;  
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;            
    -webkit-flex-wrap: wrap;  
  }

  .footer-inner__item{
     font-size: 15px;
     padding: 0 5px;
     text-align: center;
     width: 25%;
  }

  .footer-inner__link{
    color: #fff;
  }

  .footer-inner__logo{
    display: inline-block;
    color: #fff;
    font: 18px montserrat;
    padding: 12px 0 0 15%;    
    width: 43%;
  }    

  .footer-inner__social-wrapper{
    display: inline-block;
    padding-top: 12px;
    width: 40%;
  }

  .footer-inner__item-social{
    padding: 0 4px;
  }

  .footer-inner__social-link{
    display: block;
  }

  .footer-inner__social-img{
    width: 21px;
  }

  
  @media(min-width: 580px){

    .footer-inner__nav{
      margin: 0 auto;
      width: 85%;
    }

    .footer-inner__list{  
       flex-wrap: nowrap;   
       justify-content: start;
       -webkit-flex-wrap: nowrap;
       -webkit-justify-content: start;;           
   }    
    
    .footer-inner__item{       
       padding: 0 10px;
  }

}

  @media(min-width: 768px){

  .footer-inner{
     padding: 60px 0;     
  }  

  .footer-inner__nav{      
     position: absolute;
     left: 210px;
     width: 49%;
  }

  .footer-inner__list{
    display: inline-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100%;
  }

  .footer-inner__item{
     font-size: 11px;
     padding: 0 7px;     
     text-align: center;     
  }

  .footer-inner__logo{
    float: left;
    font: 18px montserrat; 
    padding: 0;   
  }

  .footer-inner__social-img{
    width: 21px;
  }

  .footer-inner__social-wrapper{
    width: 20%;
    padding: 0;
  }

  .footer-inner__logo{        
    width: 20%;
  }

  .footer-inner__social-wrapper{
    float: right;    
  }

 }

 @media(min-width: 1200px){

  .footer-inner{
     padding: 84px 0;
  }

  .footer-inner__nav{ 
      position: absolute;
      left: 220px;
      width: 700px;
  }
  
  .footer-inner__item{
     padding: 0 10px;
     font-size: 17px;    
  }

  .footer-inner__logo{    
    font: 30px montserrat;    
  }

  .footer-inner__social-img{
    width: 32px;
  }

  .footer-inner__item-social{
    padding: 0 7px;
  }

 }

/* ===============Fonts=============================*/

@font-face{
  font-family: montserrat;
  font-display: auto;
  src: url(../fonts/Montserrat.woff2) format('woff2'),
  url(../fonts/Montserrat.woff) format('woff'),
  url(../fonts/Montserrat.ttf) format('ttf');
}

@font-face{
  font-family: sourceSansItalic;
  font-display: auto;
  src: url(../fonts/SourceSansPro-It.woff2) format('woff2'),
    url(../fonts/SourceSansPro-It.woff) format('woff'),
    url(../fonts/SourceSansPro-It.ttf) format('ttf'); 
}

@font-face{
  font-family: sourceSans;
  font-display: auto;
  src: url(../fonts/SourceSansPro-Regular.woff2) format('woff2'),
    url(../fonts/SourceSansPro-Regular.woff) format('woff'),
    url(../fonts/SourceSansPro-Regular.ttf) format('ttf'); 
}