
body{
  background-color: #01011D;
}

#wrapper{
 cursor: none; 
 margin: 0 auto;
 width: 800px;
}

canvas{
  cursor: none;	
}

#info{
  color: #ccc;
  font-size: 20px;	
  margin: 10px auto;
  padding-left: 50px;
  width: 600px;	
}

span{
	padding-right: 30px;
}

#gameover{
  display: none;
  opacity: 0.6;	
  width: 800px;  
  position: relative;
  top: -605px;
  left: 0;    
}